.header {
  width: 100%;
  height: 60px;
  background-color: #333232;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  height: 100%;
}
